#coffeapi{
    max-width: 1280px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    height: 400px;
    background-color: #6f4e37;
    border-radius: 0px;
    overflow: hidden;
	margin: 10px 10px 10px 10px;
}

h6{
    text-align: center;
    
	background: #747474;
    font-size: 1rem;
    color: white;
	margin-top: 0px;
    margin-right: 10%;
    margin-bottom: 0px;
    margin-left: 10%;
	
	padding-top: 10px;
	padding-bottom: 10px;
	/*
	padding-left: 10%;
	padding-right: 10%;
	*/
    width: 80%;
}

.cardimg{
    display: block;
	padding-left: 10%;
	padding-right: 10% ;
    width: 80%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 600px){
    .card{
        flex: 1 1 calc(50% - 2rem);
    }
}
@media (min-width: 900px){
    .card{
        flex: 1 1 calc(33% - 2rem);
    }
}


@media (min-width: 900px) and (max-width: 1199px) {
	.card > h6 {
		font-size: calc(1.1rem);
		}
}
@media (min-width: 600px) and (max-width: 899px) {
	.card > h6 {
		font-size: calc(1.2rem);
		}
}
@media (min-width: 199px) and (max-width: 599px) {
	.card > h6 {
		font-size: calc(1.5rem);
		}
}