.shopping-container {
    width: 97%;
    height: 70vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0 16px 24px 2px rgba(33,37,41,.02),
				0 6px 30px 5px rgba(33,37,41,.04),
				0 8px 10px -5px rgba(33,37,41,.1);
}
.shopping-element__order {
    padding: 0px 0px 0px 20px;
	margin: 0px 0px 0px 30px;
    font-weight: bold;
}
.shopping-element__name {
    padding: 15px;
    font-weight: bold;
}
.shopping-element__price {
    padding: 17px;
    color: #808080;
	font-weight: bolder;
}
.shopping__close {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 20px;
    right: 20px;
    background-image: url(img/close.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    cursor: pointer;
}

